@model IEnumerable<AspiranturaSqlite.Models.Aspirant>

<p>
    <a asp-action="Create">Create New</a>
</p>
@(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.FIO).Titled("Прізвище та ініціали");
                columns.Add(model => model.InputYear).Titled("Вступ");
                columns.Add(model => model.Course).Titled("Курс");
                columns.Add(model => model.StatusType.Name).Titled("Статус");                

            })
            .Empty("No data found")

            //.MultiFilterable()
            .Filterable()

            .Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<Int32, String> { { 20, "20" }, { 40, "40" }, { 0, "All" } };
                pager.ShowPageSizes = true;
                pager.PagesToDisplay = 5;
                pager.CurrentPage = 1;
                pager.RowsPerPage = 2;
            })
)
